@use './variables' as *;


i{
    cursor: pointer;
}

.chat-screen-main i{
    color: var(--third-color);
}

.chat-screen-main{
    display: flex;
}

.left-bar {
    width: 5%;
    background: var(--detailing-color);
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    padding: 10px 0;
    left: 0;
    border-right: 1px solid var(--underlines);
}
.profile-img{
    width: 40px;
    height: 40px;
    background-color:var(--primary-color);
    padding: 2px;
    border:2px solid var(--third-color);
    border-radius: 50%;

}
.left-bar i{
    font-size: 100%;
    
}

.left-bar button{
    font-size: 24px;
    display: block;
    padding: 10px 0;
    cursor: pointer;
    background: none;
    padding: 0;
    margin: 10px 0;
    border: none;
    box-shadow: none;
    width: 100%;
}
.left-bar a:hover{
    background-color:var(--primary-color);
}

.left-bar nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.chat-screen-header{
    background-color:var(--detailing-color);
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.contact-header{
    height: 50px;
    background-color:var(--primary-color);
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--dark-bg-text-color);
}


.mid-chat-screen{
    width: 30%;
    background-color: var(--primary-color);
    margin-left: 6%;
    height: 100vh;
    border-right: 1px solid var(--underlines);
    position: relative;
    
}

.mid-chat-screen h3{
 margin: 0;   
}

.show-main-screen{
    width: 65%;
    height: 100vh;
    background-color: var(--detailing-color);
    background: url("../images/message-doodles.jpg");
}

.show-list{
    color: var(--dark-bg-text-color);
    overflow: scroll;
    
}
.show-list ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.show-list li{
    display: flex; 
    background:var(--primary-color);
    column-gap: 15px;
    align-items: center;
    cursor: pointer;
    position: relative;
    min-height: 60px;
    
}

.user-detail{
    border-bottom: 1px solid var(--underlines);
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5px;
    padding: 5px 0;
    
}
.user-detail p{
    margin:0;
}

.last-media{
    color: var(--third-color);
    font-size: 14px;
}

.chat-screen-container{
    height: 100%;
    width: 100%;
    background:  var(--primary-color);
    position: relative;
   
}

.chat-container{
    width: 100%;
    height: 100%;
    background: url("../images/message-doodles.png");
    background-position: center;
    background-size: contain;       
   
}

.message-input{
    height: 60px;
    background-color:var(--detailing-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.message-input a, .message-input button {
    font-size: 24px;
    padding: 10px 0;
    cursor: pointer;
    width: 24px;
    background:none;
    box-shadow: none;
    border:none;
}
.message-area{
    width: 80%;
    background: #aebac1;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
}

.chat-screen-header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-info-header{
    padding: 10px;
    display: flex;
    align-items:center;
    color: var(--dark-bg-text-color);
    column-gap: 10px;
}

ul.chats-text{
    color: white;
    position: absolute;
    bottom: 100px;
    list-style-type: none;
    width: 90%;
    left: 50%;
    transform: translate(-50%, -0);
    margin: 0;
    padding: 0;
    z-index: 1;
    overflow-y: scroll;
    max-height: 80%;

    
}
ul.chats-text div{
    border-radius: 50%;
    padding: 5px 20px;
    width: 100%;
    margin: 5px 0;
}
.sender-text{
    text-align: right;
    border-radius: 10px;
}

.receiver-text{
    text-align: left;
    border-radius: 10px;
}

.sender-text li{
    background: var(--accent-color);   
    display: inline-block;
    padding: 10px 40px;
    border-radius: 20px;
    
    
}

.receiver-text li{
    background: var(--detailing-color);
    display: inline-block;
    padding: 10px 40px;
    border-radius: 20px;
}
.chat-time{
    font-size: 12px;
    margin-top: 5px;
}

.profile-details-screen img.user-profile-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    
}

.profile-details-screen {
    color: white;
    padding: 10px;
}


.show-default-screen{
    width: 100%;
    height: 100%;
    background:var(--detailing-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}


.show-default-screen img{
    width: 200px;
}

.fileMessage{
    padding: 5px!important;
    border-radius: 5!important;
    color:white;
}

.edit-name, .edit-name:focus {
    background: none;
    border: none;
    color: var(--dark-bg-text-color);
    border-bottom: 1px solid var(--detailing-color);
    font-size: 18px;
    box-shadow: none;
    outline: none;
}
.edit-user-name, .save-user-name{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
}

.save-user-name input{
    margin:16px 0;
}

.edit-profile-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-profile-button button{
    background:var(--accent-color);
    border:none;
    color:white;
    cursor: pointer;
    padding:8px 30px;
    border-radius:4px;
}
.chat-image-size{
       max-height: 120px;
       border-radius: 16px;

}

.user-profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.message-status{
    margin: 0 !important;
    padding: 0 !important;
}
.unread-message-count
 {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 50%; 
    background: var(--accent-color);
    width: 5px;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.unread-message-count p{
    font-size: 12px;
    
    
    
}
// media query
// Extra small (xs): < $sm
@media (max-width: #{ $sm - 1px }) {
  .left-bar{
    display: none;
  }
  .show-default-screen{
    display: none!important;
  }
  .mid-chat-screen{
    margin: 0;
    width: 100%;
  }
  .contact-header{
    width: 100%;
   justify-content: space-between;
   align-items: center;
  }
  .options{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  .show-main-screen{
    width: 100%;
  }
  .message-input i{
    font-size: 18px;
  }
  .chats-text{
    width: 100%;
    bottom: 70px;
  }
  .sender-text{
      padding: 5px 10px;
  }
  .receiver-text{
      padding: 5px 10px;
  }
  .sender-text p {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .receiver-text p {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .sender-text li, .receiver-text li{
    padding: 5px 25px;
    border-radius: 15px;
  }
  .goBack, .goBack:focus {
        background: none;
        border: none;
        box-shadow: none;
  }
  .media-popup-sm{
        left: 50%!important;
        width: 75%;
  }
  .chat-image-size{
    max-height: 100px;
}
}

// Small (sm): ≥ $sm and < $md
@media (min-width: $sm) and (max-width: #{ $md - 1px }) {
  /* Styles for small devices */
}

// Medium (md): ≥ $md and < $lg
@media (min-width: $md) and (max-width: #{ $lg - 1px }) {
  /* Styles for medium devices */
}

// Large (lg): ≥ $lg and < $xl
@media (min-width: $lg) and (max-width: #{ $xl - 1px }) {
  /* Styles for large devices */
}

// Extra large (xl): ≥ $xl and < $xxl
@media (min-width: $xl) and (max-width: #{ $xxl - 1px }) {
  /* Styles for extra large devices */
}

// Extra extra large (xxl): ≥ $xxl
@media (min-width: $xxl) {
  /* Styles for extra extra large devices */
}
